/* Header */

.header {
    background-color: #fff;
    height: var(--header-height);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0px -8px 7px 7px gray;
    z-index: 1;
}

.header_container {
    display: flex;
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header_item {
    margin: 0 40px;
    text-transform: uppercase;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
    line-height: var(--header-height);
}

a {
	text-decoration: none;
	color: black;
}

#username:hover .dropdown-container {
    display: block;
}

.dropdown-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    cursor: pointer;
    display: none; 
}

.dropdown {
    margin-top: 6px;
    background-color: #fff;
    box-shadow: 0px 0px 6px 0px gray;
}

.dropdown .dropdown-item {
    line-height: 40px;
}

.dropdown .dropdown-item .profile-btn {
    padding: 0 20px;
}

.dropdown .dropdown-item .logout-btn {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 20px;
}

/* -----------------------------side bar-------------------------- */
.button-close {
    display: flex; 
    justify-content: flex-end;
    padding: 10px;
}

w3-sidebar:hover {
    background-color: none;
}

.fa-phone, .fa-location-dot, .fa-envelope {
    transition: 0.5s;
}

.fa-phone:hover, .fa-location-dot:hover, .fa-envelope:hover {
    cursor: pointer;
    color: darkgray;
}


